@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Light.eot');
    src: url(./assets/fonts/SegoeUI/SegoeUI-SemiBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Light.eot');
    src: local('Segoe UI Light'), local('SegoeUI-Light'),
        url('./assets/fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI-Light.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-BoldItalic.eot');
    src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
        url('./assets/fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('./assets/fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('./assets/fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('./assets/fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Italic.eot');
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
        url('./assets/fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'),
        url('./assets/fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

body {
    font-family: 'Segoe UI';
    font-style: normal;
    /* font-size: 16px; */
    font-weight: 400;
    min-width: 320px;
}

header,
footer {
    background-color: #6725A8;
    color: #FFFFFF;
}

main {
    background-color: #F6F6FA;
    justify-content: space-between;
    display: flex;
    padding: 0 24px 27px;
    position: relative;
}

.page_footer {
    position: relative;
    padding: 46px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__legal {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    word-spacing: 1px;
    letter-spacing: -0.2px;
}

.footer__legal_name {
    margin-left: 4px;
}

.footer__legal_date {
    margin-left: -1px;
    /* margin-right: 6px; */
}

.page_header {
    padding: 17px 24px 43px;
    position: relative;
}

.header__nav,
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav_icon p {
    /* margin-top: -10px; */
    display: block;
    line-height: 16px;
    margin-top: -10px;
}

.header__nav_icon img {
    height: 28px;
}

.nav_icon__cart {
    margin-right: -4px;
   
    
    /* height: 35px;
    margin-top: -3px; */
}

.nav_icon__profile {
    /* height: 30px;
    margin-top: 0.5px; */
}

.nav_icon__cart img {
    height: 36px;
    margin-top: -6px;
    margin-bottom: 3px;
}

.nav_icon__cart p {
    margin-left: 3px;
}

.nav_icon__profile img {
    height: 29px;
    /* margin-top: 2px; */
    margin-left: 3px;
}

.header__nav {
    margin-left: 20px;
    gap: 41px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}

.header__nav li a {
    display: flex;
    flex-direction: column;
    height: 51px;
    justify-content: space-between;
 
    /* margin-left: 32px; */
}

.header__item {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 3px;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    width: 110px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    
    font-stretch: ultra-expanded;
}

.menu {
    margin-top: 3px;
    height: 48px;
}

.menu img {
    height: 100%;
}

.header__menu {
    height: 48px;
    width: 48px;
    margin-right: 16px;
    background-image: url(./assets/icons/burger.svg);
}

.header__search {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 18px;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 12px 0 28px;
    margin-top: 3px;
}

.header__search_input {
    color: #FFFFFF;
    width: 100%;
    background-color: transparent;
    margin-top: -3px;

}

.header__search_input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 18px;
    line-height: 24px;
}

.header__search_sign {
    margin-top: 1px;
    margin-right: 4px;
    opacity: 0.4;
}

section {
    /* margin-bottom: 40px; */
    position: relative;
}

.section_title {
    font-size: 16px;
    font-weight: 600;
}

.cart .section_title {
    font-size: 28px;
    margin-top: 11px;
    margin-bottom: 23px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 36px;
}

.cart__check_all {
    /* margin-bottom: 12px; */
    padding-bottom: 16px;
}

.check_all__label {
    padding-left: 33px;
}

.good__checkbox {
    width: 34px;
}

.good__checkbox .custom_checkbox {
    top: 49px;
}

.checkbox_container {
    position: relative;
    /* display: flex;
    align-items: center; */
}

.custom_checkbox {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 23px;
    width: 22px;
    background-image: url(./assets/icons/checkbox.svg);
    background-repeat: no-repeat;
}

.cart__check_all .custom_checkbox {
    top: 16px;
}

/* .cart__check_all  */
.chevron {
    cursor: pointer;
    top: 12px;
    right: 2px;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.checkbox:checked+.custom_checkbox {
    background-image: url(./assets/icons/checkbox-pink.svg);
}

.agree_checkbox .custom_checkbox {
    top: 15px;
    background-image: url(./assets/icons/checkbox.svg);
    background-size: 13px;
}

.agree_checkbox .checkbox:checked+.custom_checkbox {
    background-image: url(./assets/icons/check-black.svg);
}

/* .goods {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */
article {
    width: 100%;
    margin-right: 32px;
    position: relative;
}

.good {
    position: relative;
    display: flex;
}

.good__info,
.good__order {
    position: relative;
    /* z-index: 0; */
    display: flex;
}

.good {
    justify-content: space-between;
    padding: 11px 0 20px;
}

.add_to_favorites {
    height: 20px;
    width: 20px;
    background-image: url(./assets/icons/heart.svg);
    background-repeat: no-repeat;
}

.add_to_favorites:hover {
    background-image: url(./assets/icons/heart-pink.svg);
}

.remove {
    height: 20px;
    width: 20px;
    background-image: url(./assets/icons/trash.svg);
    background-repeat: no-repeat;
}

.remove:hover {
    background-image: url(./assets/icons/trash-orange.svg);
}

.good__title {
    line-height: 24px;
    margin-bottom: 8px;
}

.good__parameters {
    font-size: 13px;
    /* margin-top: 8px; */
    display: flex;
}

.good__parameters p {
    margin-right: 16px;
}

.size_indicator {
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    height: 22px;
    min-width: 22px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: 4px;
}

.good__seller {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
    color: #8A898E;
}

.good__seller_legal_name {
    display: flex;
    margin-top: 4px;
}

.good__seller_legal_name img {
    margin-top: -2px;
    margin-left: 6px;
}

.counter {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 44px;
    margin: 0;
    padding: 0 2px 5px;
}

.counter__quantity {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 100%;
    width: 44px;
    /* width: 21px; */
    text-align: center;
}

.counter__decrease,
.counter__increase {
    cursor: pointer;
    font-size: 20px;
    width: 24px;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good__in_stock {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
    color: #FF3B30;
}

.good__action {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.cart__out_of_stock {
    margin-top: 14px;
    margin-bottom: 19px;
}

.cart__out_of_stock .good{
    padding-bottom: 21px;
}

.cart__out_of_stock .good__action {
    margin-top: 0;
    margin-right: 125.5px;
}

.good__action>div {
    cursor: pointer;
    margin-left: 16.5px;
}

.good__price,
.old_price {
    text-align: end;
}

.good__price {
    width: 110px;
    margin-left: 16px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.good__price .price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -7px;
    margin-bottom: 1.5px;
}

.good__price .price_sum {
    font-size: 20px;
    line-height: 28px;
}

.good__price .price_cur {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.price_sum.big_sum {
    font-size: 16px;
}

.good__price .old_price
/* .good__price .price_sum,
.good__price  .price_cur  */
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #8A898E;
    text-decoration: line-through;
    border-bottom: 1px dashed #8A898E;
    width: fit-content;
}

.good__details {
    margin-left: 16px;
    max-width: 275px;
    line-height: 16px;
}

.cart__out_of_stock .good__details {
    max-width: 309px;
}

.cart__out_of_stock .section_title {
    margin-bottom: 16px;
}

.out_of_stock_good .good__title,
.out_of_stock_good .good__parameters {
    color: #8A898E;
}

.order_summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 11px 22px 24px;
    border-radius: 16px;
    /* width: 32.357vw; */
    min-width: 245px;
    width: 440px;
    margin-top: -1px;
    /* margin-top: -11px; */
    
    
    height: fit-content;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
    box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
}

.summary__heading,
.summary__item_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment__card {
    margin-top: -2px;
    display: flex;
    align-items: center;
}

.summary__payment {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 1px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    
}

.payment__card_number {
    margin-left: 8px;
}

.payment__card_expiry {
    margin-left: 12px;
}

.summary__heading {
    /* font-size: 24px; */
    letter-spacing: 0.9px;
    margin-left: 1px;
    font-size: 22px;
    font-weight: 700;
    /* margin-left: 2px; */
    padding: 0 2px;
    margin-bottom: 1px;
}

.summary__price {
    font-size: 20px;
    letter-spacing: 0;
}

.summary__price_value {
    font-size: 24px;
}

.order_summary .order_btn {
    margin-bottom: 12px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 255px;
    padding-bottom: 6px;
}

.button {
    color: #FFFFFF;
    background-color: #CB11AB;
    width: 100%;
    border-radius: 8px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    height: 44px;
}

.summary__item_heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 21px;
    padding: 0 1px;
}

.order_summary .delivery__date {
    color: #CB11AB;
    margin-bottom: 12px;
}

.order_summary .delivery__info,
.order_summary .pay_now__check,
.order_summary .pay_now__explanation {
    font-size: 13px;
    font-weight: 400;
}

.order_summary .delivery__refusal,
.order_summary .payment__pay_now {
    background-color: #F6F6FA;
    border-radius: 8px;
    padding: 8px;
}

.order_summary .pay_now__check {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 22px;
}

.order_summary .payment__pay_now {
    padding: 8px 8px;
    line-height: 16px;
}

.green-dashed {
    color: #0CB477;
    border-bottom: 1px dashed #0CB477;
}

.order_summary .delivery__refusal {
    display: flex;
    line-height: 15px;
    padding: 8px 10px 12.5px;
    /* align-items: center; */
}

.delivery__refusal .refusal__check {
    padding-right: 8px;
}

.order_summary .delivery__refusal .refusal__check {
    margin-top: 3.5px;
}

.order__refund,
.delivery__refusal {
    position: relative;
}

.free-delivery[data-tooltip]::after {
    font-size: 13px;
    font-weight: 400;
    content: attr(data-tooltip);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 288px;
    /* left: 0;
    top: 0;  */
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 16px 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 3;
}

.free-delivery[data-tooltip]:hover::after {
    opacity: 1;
}

.order_delivery .free-delivery[data-tooltip]::after {
    left: 37%;
    top: 26px;
}

.summary__delivery .free-delivery[data-tooltip]::after {
    max-width: 288px;
    width: 100%;
    left: 0;
    right: -50%;
    top: 48px;
}

.summary__info>div {
    margin-bottom: 24px;
}

.summary__info .summary__delivery {
    margin-bottom: 26px;
}

.summary__goods table {
    width: 100%;
    /* margin-left: -3px; */
   
}

.summary__goods tr {
    /* line-height: 20.5px; */
    line-height: 20px;
}

.td_right {
    text-align: end;
}

.pay_now__explanation {
    margin-top: 8px;
    margin-bottom: 4px;
}

.agree_checkbox {
    font-size: 13px;
    font-weight: 400;
    padding-left: 21px;
    line-height: 16px;
    max-width: 255px;
    margin-left: 2px;
}

.order_details {
    margin-bottom: 0;
}

.order_details__heading {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
    word-spacing: -2px;
}

.delivery_pickpoint_info,
.pickpoint_rating {
    font-size: 13px;
    display: flex;
    line-height: 16px;
}

.delivery_pickpoint_info {
    margin-top: 4px;
}

.pickpoint_rating {
    margin-right: 8px;
}

.pickpoint_rating img {
    margin-right: 4.5px;
}

.order_details__change {
    color: #CB11AB;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 6px;
    margin-right: -4px;
}

.order_details__item {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 16px 24px 24px;
    margin-bottom: 16px;
}

.emphasize {
    font-weight: 600;
}

.delivery__dates_goods_item {
    height: 56px;
    position: relative;
}

/* ///////// */
/* ////////
#F55123 */
.delivery__dates_goods {
    /* gap: 8px; */
    gap: 6px;
}

.delivery__goods_item_quantity {
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -8px;
    right: -4px;
    color: #FFFFFF;
    background-color: #F55123;
    height: 16px;
    /* width: fit-content; */
    padding: 5.5px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.delivery__dates_goods_item img {
    height: 100%;
}

.order_delivery__info {
    display: grid;
    column-gap: 0;
    row-gap: 16px;
    grid-template-columns: 185px auto;
    line-height: 24px;
}

/* .delivery__dates_dates {
    font-weight: 600;
} */

.delivery__info_details {
    margin-left: 2px;
}

.delivery__info .delivery__adress {
    margin-top: 8px;
    line-height: 16px;
}

.delivery__dates_goods,
.order__refund {
    display: flex;
}

.order__refund {
    font-size: 13px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.green-check {
    height: 22px;
    margin-right: 8px;
}

.green-check img {
    height: 100%;
}

.order_payment__warning {
    font-size: 13px;
    font-weight: 400;
    color: #9797AF;
    margin-top: 2px;
    margin-bottom: -3px;
}

.customer_form {
    margin-top: 33px;
    width: 100%;
    max-width: 590px;
}

.customer_form__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}

.order_buyer {
    padding-bottom: 43px;
    margin-bottom: 0;
}

.form__customer_name,
.form__customer_contacts {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.form__customer_contacts {
    margin-top: 37px;
}

.customer_form__input_container {
    width: 100%;
    position: relative;
    /* height: 64px; */
    height: 28px;
    display: flex;
    align-items: center;
}

.customer_form__input {
    width: 100%;
}

.inn_warning {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: -20.5px;
    left: 0;
}

.field_name {
    font-size: 13px;
    font-weight: 400;
    color: #9797AF;
    position: absolute;
    top: 0;
}

.page_header::after,
.page_footer::before {
    box-sizing: border-box;
    content: "";
    display: block;
    background: #F6F6FA;
    width: 100%;
    height: 24px;
    position: absolute;
    left: 0;
}

.page_footer::before {
    border-radius: 0 0 24px 24px;
    top: -1px;
}

.page_header::after {
    bottom: -1px;
    border-radius: 24px 24px 0 0;
}

.chevron {
    height: 10px;
    width: 16px;
    background-image: url(./assets/icons/chevron.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: absolute;
    /* top: 0;
    right: 0; */
    /* top: 12px;
    right: 2px; */
}

details[open] .chevron {
    transform: rotate(0deg);
}

details,
summary {
    outline: none;
    position: relative;
}

summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

details summary::-webkit-details-marker,
summary::marker {
    display: none;
}

details>summary {
    list-style: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(5, 0, 10, 0.3);
    width: 100vw;
    height: 100vh;
}

.popup__title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.popup__close_btn {
    background-color: transparent;
}

.popup__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.popup_delivery__btn {
    font-size: 13px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 24px;
    padding: 9px;
    width: 49%;
}

.popup_delivery__btn.active {
    border-color: #CB11AB;
}

.popup_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #FFFFFF;
    padding: 22px;
    width: fit-content;
    height: fit-content;
    min-height: 408px;
    min-width: 400px;
    border-radius: 15px;
}

.popup__heading {
    font-size: 13px;
    font-weight: 700;
}

.popup_btn {
    width: 164px;
}

.popup__option {
    display: flex;
    align-items: flex-start;
    padding-left: 28px;
    margin-top: 16px;
}

.popup__adress {
    width: 100%;
}

.popup__tarsh_btn {
    height: 18px;
    width: 21px;
    background-color: transparent;
    background-image: url("./assets/icons/trash-gray.svg");
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 8px;
}

.popup__tarsh_btn:hover {
    background-image: url("./assets/icons/trash-orange.svg");
}

.custom_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-image: url(./assets/icons/radio.svg);
    background-repeat: no-repeat;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.radio:checked+.custom_radio {
    background-image: url(./assets/icons/radio-checked.svg);
}

.payment_system {
    margin-right: 4px;
}

.mobile {
    display: none;
}

.text-gray {
    color: #A0A0A4;
}

.tooltip-container {
    position: relative;
}

.tooltip {
    color: #000000;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 4;
    background-color: #FFFFFF;
    padding: 11px 16px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
    box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.15);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    gap: 8px;
}

.tooltip-heading {
    font-weight: 700;
}

.tooltip-discount {
    width: 239px;
}

.tooltip-seller {
    width: 280px;
}

.tooltip-discount>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.invalid .customer_form__input,
.empty .customer_form__input {
    color: #F55123;
    border-bottom: 1px solid #F55123;
}
.error.long_msg {
    /* bottom: -15px; */
}
.error {
    font-size: 12px;
    font-weight: 400;
    color: #F55123;
    position: absolute;
    left: 0;
    bottom: -20px;
}
/* // desktop */
@media (max-width: 1400px) {
    .order_summary {
        width: 624px;
        padding-right: 26px;
        padding-left: 21px;
    }

    .order_summary .order_btn {
        max-width: none;
        width: 100%;
    }

    .agree_checkbox {
        max-width: 381px;
    }

    .tablet {
        display: none;
    }

    .customer_form {
        max-width: 700px;
    }
}
@media (max-width: 1024px) {
    .order_summary {
        width: 437px;
    }
}
/* // mobile */
@media (max-width: 900px) {
    .mobile {
        display: flex;
    }

    main {
        flex-direction: column;
        padding: 0;
    }

    .cart__out_of_stock,
    .order_summary {
        padding: 16px;
    }

    .cart {
        padding: 0 16px;
    }

    .order_delivery__info {
        grid-template-columns: auto;
        row-gap: 8px;
        column-gap: 8px;
    }

    .good {
        flex-direction: column;
    }

    .page_header {
        padding: 9px 13px 37px;
    }

    .header__search {
        margin: 0;
        width: auto;
        padding: 0;
        background-color: transparent;
    }

    .header__search_input {
        display: none;
    }

    .header__search_sign {
        height: 21px;
        opacity: 1;
        /* padding-right: 3px; */
        margin-top: 8px;
    }

    .header__item {
        display: flex;
        text-align: center;
    }

    .logo {
        width: 100%;
        font-size: 20px;
        letter-spacing: 2px;
        width: auto;
        text-transform: uppercase;
        margin-top: 1px;
    }

    .header__menu {
        height: 28px;
        width: 28px;
        margin-right: 0;
        margin-top: 5px;
        background-image: url(./assets/icons/burger-mobile.svg);
    }

    /* .cart__check_all  */
    .chevron {
        top: 12px;
        right: 6px;
    }

    .good {
        padding-top: 12px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .last_item {
        border-bottom: 1px solid transparent;
    }
    /* .in_the_cart_goods:last-child {
        border-bottom: 1px solid rgba(255, 0, 0, 1);
    } */

    .good__quantity {
        align-items: center;
        margin-top: 12px;
    }

    .good__price {
        width: auto;
        margin-left: 0;
        text-align: start;
        align-items: flex-start;
        flex-direction: row;
        justify-content: start;
    }

    .good__price .old_price {
        text-align: start;
        margin-left: 5px;
        margin-top: -1px;
    }

    .good__order {
        width: 100%;
    }

    .good__order .good__quantity {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .counter {
        width: 80px;
        height: 32px;
        padding: 0 3px 5px;
    }

    .counter__quantity {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        width: 32px;
    }

    .good__in_stock {
        margin-top: -1px;
        margin-left: 11px;
    }

    .good__action {
        margin-top: 0;
        margin-right: 12px;
    }

    .good__action>div {
        margin-left: 24px;
    }

    .cart__out_of_stock {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
    }

    .cart__out_of_stock .good {
        padding-bottom: 17px;
    }

    .cart__out_of_stock .good__action {
        margin-top: 2px;
        margin-right: 4.5px;
        margin-left: auto;
    }

    .page_footer {
        padding-bottom: 78px;
        min-height: 144px;
    }

    .nav_mobile_bottom {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        padding: 14px 13px;
        z-index: 3;
    }

    .nav_mobile_bottom ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav_mobile__home {
        margin-top: 3px;
        margin-left: 2px;
    }

    .nav_mobile__favorites {
        margin-right: -3px;
    }

    .nav_mobile__cart {
        margin-right: -3px;
    }

    .nav_mobile__search {
        margin-right: -3px;
    }

    .order_details__item {
        padding: 14.5px 16px 24px;
        margin-bottom: 11px;
    }

    .order_details__heading {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .order_details__change {
        margin-top: 3px;
        margin-right: -6px;
    }

    .order_delivery__sum {
        margin-top: -5px;
        margin-bottom: -9px;
    }

    .order_delivery__info .emphasize {
        margin-bottom: -8px;
    }

    .order_delivery__info .delivery__heading {
        margin-top: 8px;
        margin-bottom: -3px;
    }

    .order_delivery__info .delivery__dates_dates {
        margin-top: 17px;
        margin-bottom: 4px;
    }

    .order__refund {
        margin-left: 8px;
        max-width: 272px;
    }

    .customer_form {
        margin-top: 19px;
    }

    .form__customer_name,
    .form__customer_contacts {
        display: flex;
        flex-direction: column;
    }

    .form__customer_name {
        gap: 44px;
    }

    .form__customer_contacts {
        margin-top: 44px;
        gap: 44px;
    }
    
    .order_buyer {
        padding-bottom: 40px;
        margin-bottom: 17px;
    }

    .order_summary {
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 4px;
    }

    .order_summary .delivery__refusal,
    .order_summary .payment__pay_now {
        background-color: #F0ECF4;
    }

    .order_summary {
        margin-bottom: 13px;
    }

    .order_summary .delivery__refusal {
        padding: 8px 8px 12.5px;
    }

    .summary__info .summary__delivery {
        margin-bottom: 15px;
    }

    section {
        margin-bottom: 22px;
    }

    .cart .section_title {
        font-size: 20px;
        margin-bottom: 8px;
        margin-top: -12px;
    }

    .good__title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6.5px;
        line-height: 20px;
    }

    .good__price {
        margin-top: 7px;
        margin-left: 1px;
        margin-bottom: 2px;
    }

    .good__price .price {
        font-size: 16px;
        margin-bottom: 0;
        /* margin-top: 0; */
        /* font-weight: 700;
        line-height: 24px; */
    }

    .good__price .price_sum,
    .good__price .price_cur {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .summary__heading {
        font-size: 20px;
        margin-left: -2px;
        letter-spacing: -0.2px;
    }

    .summary__info .summary__goods {
        margin-bottom: 18px;
    }

    .summary__goods table {
        width: 100%;
        margin-top: -2px;
        /* margin-left: 3px */
        margin-left: 0;
        margin-right: 0;
    }

    .summary__payment {
        margin-top: 16px;
        margin-bottom: 12px;
        margin-left: 0px;
    }

    .order_summary .order_btn {
        margin-left: 0;
    }

    .agree_checkbox {
        margin-left: 0;
    }

    .td_right {
        width: 50%;
        text-align: end;
    }

    .td_left {
        width: 50%;
        text-align: start;
    }

    .good__img {
        height: 106px;
    }

    .good__img img {
        height: 100%;
    }

    .good__checkbox {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 80px;
    }

    .good__checkbox .custom_checkbox {
        top: 14.5px;
        left: 4px;
        background-image: url(./assets/icons/checkbox-white.svg);
    }

    .popup {
        z-index: 4;
    }

    .popup__title {
        font-weight: 600;
    }

    .popup_btn {
        width: 100%;
    }

    .popup_container {
        padding: 18px;
        width: 100%;
        height: 100%;
        min-height: 0;
        min-width: 0;
        border-radius: 0px;
    }

    .popup__option {
        box-sizing: border-box;
        align-items: flex-start;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 491px) {
    .good__title {
        /* white-space: nowrap; */
        /* padding-right: 5px; */
        max-width: 192px;
        max-height: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .order_delivery .free-delivery[data-tooltip]::after {
        left: 0;
        top: auto;
        top: 49px;
    }

    .tooltip-discount {
        width: 140px;
    }

    .tooltip-seller {
        width: 200px;
        z-index: 6;
    }
}